#textos{
	background: black;
}
.whiteT{
	color: white;
}
.blueT{
	color: #1dafed;
	margin-left: 10px;
}
#contenedorText{
	background: #C7C3C4;
}
.espacio2{
	margin-top: 30px;
	margin-bottom: 30px;
}
.espacio{
	margin-top: 15px;
	margin-bottom: 50px;
}
.iden{
	width: 60%;
}
.iden2{
	width: 82%;
	margin-bottom: 30px !important;
}
#tabla{
	background: white;
}
.table td{
	border: 0.2px solid;
	vertical-align: middle !important;
}
.table th{
	border: 0.2px solid;
	border-color: white !important;
	vertical-align: middle !important;
}
#ultimaFila{
	background: #C7C3C4;
	
}
.fila{
	border-color: #C7C3C4 !important; 
}
small{ 
	font-size: 60%;
}
.textos-1{
	height: 150px;
}
@media (max-width: 991.98px){
	.textos-1 div{
		margin-left: 50px;
	}
	#txt-1 p {
    width: 90%;
	}
	#tablas div table {
    width: 90%;
	}
	#formulario form {
    width: 90%;
	}
	#adquirir button{
    width: 70%;
	}
	.padding-right{
	padding-right: 10px !important;
	}
	.iden{
	width: 90%;
}
}