@font-face {
font-family: Raleway;
src: url(../../fuentes/Raleway-Regular.ttf);
}
*{
	font-family: Raleway;
	font-weight: bold;
}
html{
	overflow-x: hidden;
}
.container-fluid{
	    background: #5B6770;
}
.container-fluid{
padding-right: 0px;
padding-left: 0px;
min-width: 711px;
}
.btn-primary{
	background: #00AEEF !important;
	border: none;
}
input{
	border: none !important;
	margin-top: 10px;
}
label{
	margin-top: 15px;
	font-size: 0.8rem;
}
.navbar-brand{
	margin-left: 10%;
}
nav{
	background: #fcfdfe;
}
.navbar-nav{
	font-size: 0.9rem !important;
}
.row{
	margin-right: 0px;
	margin-left: 0px;
}
#margen{
	height: 50px;
	background: #00AEEF;
}

#divtabla{
	background: #a2aaad;
}
#divtabla div{
	display: flex;
	margin-top: 50px;
	margin-bottom: 50px;
}
#divtabla div table{
	margin: auto;
	width: 70%;
}
#divtabla div button{
	margin: auto;
	width: 43%;
	font-size: 1rem;
}


th{
	text-align: center;
	padding: 10px;
	font-weight: bold;

}
tr{
	text-align: center;
	padding: 10px;
	color: white;
}
td{
	text-align: center;
	padding: 15px;
	
}
.fl{
	text-align: left;
}
.fr{
	text-align: right;
}
#banner{
	width: 100%;
}
.fila{
	background: #5B6770;
	font-size: 0.8rem;
}
#fq{
	background: #34414C;
}
#fq #txt1{
	display: flex;
	height: 60px;
}
#fq div h5{
	margin: auto;
	color: white;
	font-size: 1rem;
}
#respuestas{
	margin: auto;
	width: 71%;
}
.card{
	margin: 25px;
	background: #5b6770;
	border: 2px #1dafed solid;
	color: white;
}
.btn-link{
	color: white;
	text-align: left;
    font-size: 1rem !important;

}
.btn-link:hover {
    color: white;
    text-decoration: none;
}
.card-body{
	background: #5B6770;
}
#precio{
	display: flex;
}
#precio div{
	margin: auto;
	margin-bottom: 20px;
}
#precio div h6{
	color: white;
	font-weight: bold;
	font-size: 0.8rem;
}
#formulario{
	background: #5B6770;
	margin: auto;
	width: 63%;
}
#formulario #textof{
	display: flex;
	margin-top: 40px;
}
#formulario div h4{
	margin: auto;
	color: white;
	font-size: 1.3rem;
}
#fr1{
	padding: 40px;
	color: white;
}
form{
	width: 100%;
	display: flex;
}
#fr1 button{
	width: 70%;
	background: #1dafed;
	margin-top: 20px !important;
	margin: auto;

}
#txt2{
	display: flex;
	height: 50px;
}
#txt2 h5{
	margin: auto;
	color: white;
	font-size: 1rem;
}
/*#head{
	background: #fcfdfe;
	height: 120px;
}
#head div{
	display: flex;
}
#head div a{
	margin: auto; 
	
}
#head div img{
	margin: auto;
	height: 100px;
}
#head div h5{
	margin: auto;
	color: white;
}
#head div h5 a{
	margin: auto;
	color: white;
	text-decoration: none;
}*/


form{

/*margin-bottom: 20px;*/
/*margin-top: 40px;*/
}
#divCarr{
	
}
.carrusel{
	
}
#guion{
	display: flex;
}
#guion label{
	margin: auto;
}
#servicios{
	padding-top: 20px;
	padding-bottom: 20px;

}
#servicios div{
display: flex;
}

#servicios div div{
margin: auto;
}
#grad{
margin: auto;	
height: 3px;
width: 40%;	
background: rgba(110,110,110,0);
background: -moz-linear-gradient(left, rgba(110,110,110,0) 0%, rgba(110,110,110,0.97) 28%, rgba(110,110,110,1) 29%, rgba(110,110,110,1) 71%, rgba(110,110,110,0) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(110,110,110,0)), color-stop(28%, rgba(110,110,110,0.97)), color-stop(29%, rgba(110,110,110,1)), color-stop(71%, rgba(110,110,110,1)), color-stop(100%, rgba(110,110,110,0)));
background: -webkit-linear-gradient(left, rgba(110,110,110,0) 0%, rgba(110,110,110,0.97) 28%, rgba(110,110,110,1) 29%, rgba(110,110,110,1) 71%, rgba(110,110,110,0) 100%);
background: -o-linear-gradient(left, rgba(110,110,110,0) 0%, rgba(110,110,110,0.97) 28%, rgba(110,110,110,1) 29%, rgba(110,110,110,1) 71%, rgba(110,110,110,0) 100%);
background: -ms-linear-gradient(left, rgba(110,110,110,0) 0%, rgba(110,110,110,0.97) 28%, rgba(110,110,110,1) 29%, rgba(110,110,110,1) 71%, rgba(110,110,110,0) 100%);
background: linear-gradient(to right, rgba(110,110,110,0) 0%, rgba(110,110,110,0.97) 28%, rgba(110,110,110,1) 29%, rgba(110,110,110,1) 71%, rgba(110,110,110,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e6e6e', endColorstr='#6e6e6e', GradientType=1 );
}

#servicios div div p{
text-align: center;
}

#descripcion{
	background: #6e6e6e;
}

#descripcion div{
	display: flex;
}
#descripcion div p{
	margin: auto;
	width: 40%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
}

#foo{
	background: #eb0029;
	height: 80px;
}
#foo div{
display: flex;
}

#foo div p{
margin: auto;
text-align: center;
color: white;
font-size: 0.8rem;
}
#redes{
	position: absolute;
	margin-top: 22px;
	margin-left: 50px;
}
#planes{
	display: flex;

}
#banner{
	width: 100%;
}
#texto1{
	text-align: center;
	background: white;
	height: 120px;
	display: flex;
	background: #1dafed;
}
#texto1 h4{
	margin: auto;
	color: #FFF;
}
#texto1 #txt-w{
	margin: auto;
	color: #686868;
}
#texto1 img{
	margin: auto;
	margin-left: 70px;
}
#conttxt1{
	padding-top: 40px;
    padding-bottom: 40px;
}
#conttxt1 div{
	display: flex;
	margin-top: 10px;
}
#conttxt1 div img{
	margin: auto;
	margin-right: 0px;
}
#conttxt1 div h5{
	margin: auto;
	margin-left: 10px;
}
#conttxt1 div h4{
	margin: auto;
}
#linea{
	display: flex;
}
#linea div{
	height: 5px;
	background: #b3b3b3;
	width: 95%;
	margin: auto;
}
#servicios{
	margin-top: 30px;
	margin: auto;
	width: 60%;
}
.col-12 button{
	width: 100%;
}
.titulo{
	color: #2278b1;
}
#cirAzul{
    position: absolute;
    height: 50px;
    right: 20%;
    top: 100px;
    z-index: 1;	
}

#servicios .row{
-webkit-box-shadow: 2px -1px 2px 2px rgba(0,0,0,0.3);
-moz-box-shadow: 2px -1px 2px 2px rgba(0,0,0,0.3);
box-shadow: 2px -1px 2px 2px rgba(0,0,0,0.3);
border-radius: 20px;
margin:30px;
height: 200px;

}
#servicios div img{
	height: 350px;
	margin: auto;
}
.s2{
	height: 200px !important;
}

#servicios div a{
	margin: auto;
}


@media (min-height: 1080px){
	#footer{
		position: absolute;
		width: 100%;
		bottom: -2%;
	}
}
	

@media (min-height: 1500px) and (max-width: 1000px){
label{
	font-size: 1.5rem;
}
.la{
	font-size: 1.5rem;
}
button{
	font-size: 2.5rem !important;
}
.frm2{
	padding-top: 30px;
}
#servicios div img {
    height: 415px !important;
}
#banner {
    width: 100%;
}
}
@media (max-width: 1000px){
	#cirAzul{
display: none;
}
.frm1{
	
}
}

@media (max-width: 1199.98px) { 

#respuestas{
	width: 95%;
}
.btn-link {

    font-size: 1rem !important;
}
#divtabla div button {
  
    width: 63%;
    font-size: 1.5rem !important;
}
#formulario{
	width: 100%;
}

 }
@media (max-width: 1500px){
	#servicios div img{
		height: 270px;
	}
}


/*

@media (max-width: 767.98px) {
	.vm{
		display: inherit !important;
	}
	.ve{
		display: none !important;
	}
}

@media (max-width: 991.98px) {
.vm{
		display: inherit !important;
	}
	.ve{
		display: none !important;
 }
}
@media (max-width: 1199.98px) { 

.vm{
		display: inherit !important;
	}
	.ve{
		display: none !important;
 }
}
 @media (min-width: 1200px){
.vm{
		display: none !important;
	}
	.ve{
		display: inherit !important;
 }
 
 }*/
