#banner{
  z-index: -1;
  width: 100%;
}
#banner img{
	z-index: -1;
	width: 100%;
}
#img-servicio img{
	width: 100%;
}
#servicio{
	background: #323332;
	color: white;
}
#servicio .row{
	width: 80%;
}
#servicio-2{
	background: #ee619f;
	color: white;
}
#servicio-2 .row{
	width: 80%;
}
#servicio-3{
	background: #ef633d;
	color: white;
}
#servicio-3 .row{
	width: 80%;
}
#servicio-4{
	background: #ee619f;
	color: white;
}
#servicio-4 .row{
	width: 80%;
}
#servicio-5{
	background: #239dd5;
	color: white;
}
#servicio-5 .row{
	width: 80%;
}
#vigencia p{
	font-size: 0.9rem;
}
#lista p{
	font-size: 0.8rem;
	padding-left: 10px;
}
#precio h5{
	font-family: Scotia-bold;
	margin-top: 10px;
}
#boton-servicio button{
	border-radius: 15px;
	line-height: 1.5rem;
	margin-top: 10px;
}
.llave-millenial{
  color: #323332 !important;
}
.llave-kids{
  color: #EE619F !important;
}
.llave-membresia{
  color: #EF633D !important;
}
.llave-medico{
  color: #1A8469 !important;
}
/*Tooltip*/
.tooltip-digital {
	position: relative;
    display: inline-block;
    background: white;
    border-radius: 50%;
    height: 23px;
    width: 23px;
    text-align: center;
    margin-left: 10px;
    color: #1dafed;
}

.tooltip-digital .tooltiptext {
  visibility: hidden;
  width: 350px;
  background-color: white;
  color: #04587e;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: -85%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.7rem;
}

.tooltip-digital .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent transparent;
}

.tooltip-digital:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  -webkit-box-shadow: 10px 10px 19px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 19px 4px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 19px 4px rgba(0,0,0,0.75);
  text-align: initial;
  padding: 20px;
}

@media (max-width: 1199.98px) { 
	#servicio .row {
    padding: 30px;
	}
	#servicio-2 .row {
    padding: 30px;
	}
	#servicio-3 .row {
    padding: 30px;
	}
	#servicio-4 .row {
    padding: 30px;
	}
	#servicio-5 .row {
    padding: 30px;
	}
  .contenido{
    height: 400px;
  }
 }
 @media (min-width: 1199.99px) and (max-width: 1330px){
 		#lista p{
		font-size: 0.65rem;
		}
		#precio h5 {
    	margin-top: 0px;
		}
 }
 @media (max-width: 575.98px) { 
  #banner img{
  object-fit: cover;
  width: 100%;
  }

  }